.dashboard-content-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dashboard-content-upper-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.dashboard-content-lower-section {
    border: 1px solid red;
}

.dashboard-upper-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border: 3px solid var(--black-color);
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    min-width: 300px;
    height: 300px;
    flex: 1;
}